In [11]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

In [12]:
service = Service()

options = webdriver.ChromeOptions()

driver  = webdriver.Chrome(service=service, options=options)

In [13]:
url = 'https://books.toscrape.com/'

driver.get(url)

# Looking for elements

In [4]:
#titleElements = driver.find_elements(By.TAG_NAME, 'a')[54:94:2]
#titleList = [title.get_attribute('title') for title in titleElements]

# Casting and convertion data tests

In [5]:
#float(driver.find_element(By.CLASS_NAME, "price_color").text.replace('£', ''))

In [6]:
#int(driver.find_element(By.CLASS_NAME, "instock").text.replace('In stock (', '').replace(' available)', ''))

# Extraindo dados de forma automatizada e criando a lista de estoque e de preços

In [16]:
n_pages = int(driver.find_element(By.XPATH, '//*[@id="default"]/div/div/div/div/section/div[2]/div/ul/li[1]').text.replace('Page 1 of ', ''))

In [17]:
n_pages

50

In [7]:
titleElements = driver.find_elements(By.TAG_NAME, 'a')[54:94:2]
titleList = [title.get_attribute('title') for title in titleElements]

In [8]:
stockList = []
pricesList = []
titles = []
i = 1
page = 93
while i <= n_pages:
    titleElements = driver.find_elements(By.TAG_NAME, 'a')[54:94:2]
    titleList = [title.get_attribute('title') for title in titleElements]
    for t in titleList:
        titles.append(t)

    for title in titleElements:
        title.click()
        qtdStock = int(driver.find_element(By.CLASS_NAME, "instock").text.replace('In stock (', '').replace(' available)', ''))
        stockList.append(qtdStock)
        price = float(driver.find_element(By.CLASS_NAME, "price_color").text.replace('£', ''))
        pricesList.append(price)
        driver.back()
        time.sleep(1)

    i+=1
    if(i != 50):
        time.sleep(2)
        driver.find_elements(By.TAG_NAME, 'a')[page].click()
    if (i > 1):
        page = 94
    time.sleep(4)

In [9]:
driver.quit()

In [10]:
dictDF = {
    'title': titles,
    'stock': stockList,
    'price': pricesList
}

pd.DataFrame(dictDF)

                                                 title  stock  price
0                                 A Light in the Attic     22  51.77
1                                   Tipping the Velvet     20  53.74
2                                           Soumission     20  50.10
3                                        Sharp Objects     20  47.82
4                Sapiens: A Brief History of Humankind     20  54.23
..                                                 ...    ...    ...
195                                  Eureka Trivia 6.0     15  54.59
196  Drive: The Surprising Truth About What Motivat...     15  34.95
197            Done Rubbed Out (Reightman & Bailey #1)     15  37.72
198                  Doing It Over (Most Likely To #1)     15  35.61
199  Deliciously Ella Every Day: Quick and Easy Rec...     15  42.16

[200 rows x 3 columns]